<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE configuration
PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-config.dtd">

<configuration>
	
	<!-- 设置全局性懒加载 -->
	<settings>
		<setting name="lazyLoadingEnabled" value="false" />
	</settings>

	<!-- 映射实体类下的所有包 -->
	<typeAliases>
		<package name="pojo"/>
	</typeAliases>
</configuration>
